*.zip
*.elc
*~

*/*.tokens

as3/AS3__.g
as3/src/emacs/flyparse/as3/AS3Lexer.java
as3/src/emacs/flyparse/as3/AS3Parser.java
as3/src/emacs/flyparse/as3/AS3.tokens

bin/*

css/CSS__.g
css/src/emacs/flyparse/css/CSSLexer.java
css/src/emacs/flyparse/css/CSSParser.java

javascript/Javascript__.g
javascript/src/emacs/flyparse/javascript/JavascriptLexer.java
javascript/src/emacs/flyparse/javascript/JavascriptParser.java

lib/*
